{% extends "layouts/property_layout.html" %}
{% load static %}

{% block propsection %}
  <div class="as-grid as-content">
    <div class="as-grid-justified as-page-header">
      <div class="as-page-title-wrap"><h1 class="as-page-title">Manage your AuthSafe Account</h1></div>
      <div class="as-page-tools"></div>
    </div>
    <div class="as-grid as-container">
      <div class="as-right-wrap">
        <div class="as-portlet-1">
          <div class="as-grid-justified as-portlet-header">
            <h2 class="as-portlet-title">API Keys</h2>
          </div>
          <div class="as-portlet-body as-portlet-body-tabs">
            <form action="{{ form_url }}">
              <label for="">Integrate your data</label>
              <div class="as-mb-20p">
                <div class="text-muted">In order to access our login/reset password APIs you need Property ID and Property Secret. These two parameters act as API keys to gain access to our APIs. To create new Property Secret you can click on the button below.</div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <h4 class="block-title m-0 as-lh-46">Property ID</h4>
                </div>
                <div class="col-md-6">
                  <input type="text" id="inputPropertyID" name="inputPropertyID" class="form-control" aria-describedby="btnSaveUrl" value="{{ p_row.pid }}" disabled="">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <h4 class="block-title m-0 as-lh-46">Property Secret</h4>
                </div>
                <div class="col-md-6">                
                  <div class="input-group mb-3">
                    <input type="password" id="inputPropertySecret" name="inputPropertySecret" class="form-control" aria-describedby="btnSecret" value="****************" disabled="">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" id="btnSecret">Show</button>
                    </div>
                    <p>{{password}}</p>
                  </div>
                </div>
              </div>
              <!-- <div class="as-mb-20p">
                <a href="javascript:;" class="btn btn-lg btn-primary">Create REST API Key</a>
              </div>
              <div class="as-mb-10p">
                <div class="text-muted">Other Keys</div>
              </div>
              <ul class="list-unstyled">
                <li class="as-mb-5p"><a href="javascript:;">New Authsafe License Key</a></li>
                <li><a href="javascript:;">Insight API Keys</a></li>
              </ul> -->
            </form>
            <input type="hidden" id="api_url_logs" name="api_url_logs" value="{{ api_url_logs }}">
          </div>
        </div>
        <div class="as-portlet-1">
          <div class="as-grid-justified as-portlet-header">
            <h2 class="as-portlet-title">Your property ID is : {{ p_row.pid }}</h2>
          </div>
          <div class="as-portlet-body">
            <div class="table-responsive">
              <table class="table as-portlet-table-1" id="tblLogs">
                <thead>
                  <tr>
                    <th>Generated by</th>
                    <th>User Role</th>
                    <th>Generated time</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- {% for o in token_logs %}
                      <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.role }}</td>
                        <td>{{ o.created_at }}</td>
                      </tr>
                  {% endfor %} -->
                  <tr>
                    <td>Sandeep Kamble</td>
                    <td>Owner</td>
                    <td>Dec 23, 2019 09:31:02</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock propsection %}