{% extends "layouts/property_layout.html" %}
{% load static %}

{% block propsection %}
  <div class="as-grid as-content">
    <div class="as-grid-justified as-page-header">
      <div class="as-page-title-wrap"><h1 class="as-page-title">Manage your AuthSafe Account</h1></div>
      <div class="as-page-tools"></div>
    </div>
    <div class="as-grid as-container">
      <div class="as-right-wrap">
        <div class="as-portlet-1">
          <div class="as-grid-justified as-portlet-header">
            <h2 class="as-portlet-title">Webhooks</h2>
            <div class="as-portlet-tools as-grid-justified"><a href="javascript:;" class="as-link-filter"><i class="as-icon as-icon-filter"></i></a></div>
          </div>
          <div class="as-portlet-body as-portlet-body-tabs">
            <form class="form-inline">
              <div class="text-muted as-mb-20p">Set up a new webhook endpoint to receive authsafe security event: <input type="text" class="form-control" id="inlineFormInputName2">, <input type="text" class="form-control ml-sm-2" id="inlineFormInputGroupUsername2"> </div>
              <div class="text-muted">Read the documentation on <a href="javascript:;">Incident Confirmed</a> and <a href="javascript:;">Review Opened</a> webhooks.</div>
            </form>
          </div>
        </div>
        <div class="as-portlet-1">
          <div class="as-portlet-body as-portlet-dropzone">
            <div class="as-drop-point">
              <i class="as-icon as-icon-endpoint as-mb-20p"></i>
              <div class="text-muted as-mb-40p">You have not subscribed to any of the new webhook events.</div>
              <a href="#addEndpoint" class="btn as-btn-lg btn-primary" data-toggle="modal">Add new endpoint</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock propsection %}