{% extends "layouts/property_layout.html" %}
{% load static %}

{% block propsection %}
  <div class="as-grid as-content">
    <div class="as-grid-justified as-page-header">
      <div class="as-page-title-wrap"><h1 class="as-page-title">Manage your AuthSafe Account</h1></div>
      <div class="as-page-tools"></div>
    </div>
    <div class="as-grid as-container">
      <div class="as-right-wrap">
        <div class="as-portlet-1">
          <div class="as-grid-justified as-portlet-header">
            <h2 class="as-portlet-title">Webhooks</h2>
            <div class="as-portlet-tools as-grid-justified"><a href="javascript:;" class="as-link-filter"><i class="as-icon as-icon-filter"></i></a></div>
          </div>
          <div class="as-portlet-body as-portlet-body-tabs">
            <form class="form-inline">
              <div class="text-muted as-mb-20p">Set up a new webhook endpoint to receive authsafe security event: <input type="text" class="form-control" id="inlineFormInputName2">, <input type="text" class="form-control ml-sm-2" id="inlineFormInputGroupUsername2"> </div>
              <div class="text-muted">Read the documentation on <a href="javascript:;">Incident Confirmed</a> and <a href="javascript:;">Review Opened</a> webhooks.</div>
            </form>
          </div>
        </div>
        <div class="as-portlet-1">
          <div class="as-portlet-body as-portlet-dropzone">
            <div class="as-drop-point">
              <i class="as-icon as-icon-endpoint as-mb-20p"></i>
              <div class="text-muted as-mb-40p">You have not subscribed to any of the new webhook events.</div>
              <a href="#addEndpoint" class="btn as-btn-lg btn-primary" data-toggle="modal">Add new endpoint</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade custom-modal-1" id="addEndpoint" tabindex="-1" role="dialog" aria-labelledby="addUserTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserTitle">Set up a new webhook endpoint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-group">
              <h6 class="block-title">Endpoint URL</h6>
              <input type="text" class="form-control" placeholder="https:/api.example.com/alerts">
              <div class="form-text text-muted">Recommeded: Use a URL from service like Webhook Tester to inspect webhook data before starting implementation.</div>
            </div>
            <div class="form-group">
              <h6 class="block-title">Options</h6>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="optionOYes" name="example1">
                <label class="custom-control-label" for="optionYes">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="optionONo" name="example1">
                <label class="custom-control-label" for="optionNo">No</label>
              </div>
            </div>
            <div class="form-group">
              <h6 class="block-title">Enabled</h6>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="optionEYes" name="example2">
                <label class="custom-control-label" for="optionYes">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="optionENo" name="example2">
                <label class="custom-control-label" for="optionNo">No</label>
              </div>
            </div>
            <div class="as-frm-btns">
              <button class="btn as-btn-lg btn-primary">Save</button>
              <button class="btn as-btn-lg btn-outline-secondary">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock propsection %}