{% extends "layouts/property_layout.html" %}
{% load static %}

{% block propsection %}
  <div class="as-grid as-content">
    <div class="as-grid-justified as-page-header">
      <div class="as-page-title-wrap"><h1 class="as-page-title">Property Settings</h1></div>
      <div class="as-page-tools"></div>
    </div>
    <div class="as-grid as-container">
      <div class="as-right-wrap">
        <div class="as-portlet-1">
          <div class="as-grid-justified as-portlet-header">
            <h2 class="as-portlet-title">Property Settings</h2>
          </div>
          <div class="as-portlet-body p-4">
            <label for="">Update your property settings</label>
            <form action="{{form_url}}" class="pt-4" id="frmAddProperty">
              <div class="form-group row">
                <div class="col-md-2">
                  <h4 class="block-title m-0 as-lh-46">Property Name</h4>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="inputPropertyName" name="inputPropertyName" placeholder="Enter Property Name" value="{{pname}}">
                </div>
              </div>
              <div class="as-frm-btns">
                <button class="btn as-btn-lg btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock propsection %}