{% extends "layouts/property_layout.html" %}
{% load static %}

{% block propsection %}
  <div class="as-grid as-content">
    <div class="as-grid-justified as-page-header">
      <div class="as-page-title-wrap"><h1 class="as-page-title">Manage your AuthSafe Account</h1></div>
      <div class="as-page-tools"></div>
    </div>
    <div class="as-grid as-container">
      <div class="as-right-wrap">
        <div class="as-portlet-1">
          <div class="as-grid-justified as-portlet-header">
            <h2 class="as-portlet-title">Do not track</h2>
            <div class="as-portlet-tools as-grid-justified"><a href="javascript:;" class="as-link-filter"><i class="as-icon as-icon-filter"></i></a></div>
          </div>
          <div class="as-portlet-body as-portlet-body-tabs">
            <label class="as-l-dark" for="">IPs</label>
            <div class="as-mb-20p">
              <p class="as-t-grey">Do-Not-Track IPs are used when you want to disable tracking for certain IP address. A typical use-case is when your support team wants to impersonate your customers, but not affect their risk score or trigger user notifications.</p>
            </div>
            <div class="row" id="listIPs">
              <!-- <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">43.241.24.17 <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div> -->
            </div>
            <div class="as-mb-20p">
              <form class="form-forizontal" action="{{ form_url_ip }}" id="formIP">
                <div class="row">
                  <label for="staticEmail2" class="sr-only">IP</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="dnt_ip" id="dnt_ip" value="" placeholder="IP address or range">
                  </div>
                  <button type="submit" class="btn btn-lg as-form-btn btn-primary col-md-2">Add</button>
                </div>
              </form>
              <form action="{{ form_url_ip_delete }}" id="formIPDelete"></form>
              <div class="form-text text-muted font-italic">Single IP address or range in CIDR notation, eg. 127.0.0.1, 10.1.0.0/16. <a href="javascript:;">Add current IP (103.249.240.11)</a></div>
            </div>
            <hr>
            <label class="as-l-dark" for="">Email</label>
            <div class="as-mb-20p">
              <p class="as-t-grey">Do-Not-Track Emails are used when you want to disable tracking for certain email address. A typical use-case is when your support team wants to impersonate your customers, but not affect their risk score or trigger user notifications.</p>
            </div>
            <div class="row" id="listEmails">
              <!-- <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">xyz.google <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">google@yahoo.com <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">google@yahoo.com <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">abc.net<a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">*.google <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">google@yahoo.com <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">google@yahoo.com <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">*.google <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div>
              <div class="col-xlg-4 col-lg-6">
                <div class="p-3 as-mb-20p bg-light text-dark as-sel-tag">google@yahoo.com <a href="javascript:;" class="as-icon-status as-icon-status-off"><i class="fa fa-times"></i></a></div>
              </div> -->
            </div>
            <div class="as-mb-20p">
              <form class="form-forizontal" action="{{ form_url_email }}" id="formEmail">
                <div class="row">
                  <label for="staticEmail2" class="sr-only">Email</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="dnt_email" id="dnt_email" value="" placeholder="Email address or domain">
                  </div>
                  <button type="submit" class="btn btn-lg as-form-btn btn-primary col-md-2">Add</button>
                </div>
              </form>
              <form action="{{ form_url_email_delete }}" id="formEmailDelete"></form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock propsection %}